/* */
.header {
background-image: url(images/header.jpg);
height: 523px;
width: 1300px;
margin:0;
padding:0;

}

.logo_blog {
	

}

.header_logo {
	float: left;
	margin-left: 50px;
}
.header_logo img{
	width: 50px;
}

.blog {
	float: left;
	padding-top: 20px;
	padding-left: 5px;
}

.about {
	float:right;
	margin-right: 5px;
}

.header_search {
	float: right;
	margin-right: 50px;

}

.header_text {
	text-align: center;
	color: white;
}
